*.vsidx
*.v2
*.json
.vs/PDAO_WebApp/v17/.suo
.vs/PDAO_WebApp/v17/DocumentLayout.backup.json
.vs/PDAO_WebApp/v17/DocumentLayout.json
bin/Debug/net8.0/PDAO_WebApp.dll
bin/Debug/net8.0/PDAO_WebApp.exe
bin/Debug/net8.0/PDAO_WebApp.pdb
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/PDAO_WebApp.AssemblyInfo.cs
obj/Debug/net8.0/PDAO_WebApp.AssemblyInfoInputs.cache
obj/Debug/net8.0/PDAO_WebApp.dll
obj/Debug/net8.0/PDAO_WebApp.pdb
obj/Debug/net8.0/PDAO_WebApp.sourcelink.json
obj/Debug/net8.0/ref/PDAO_WebApp.dll
obj/Debug/net8.0/refint/PDAO_WebApp.dll
bin/Debug/net8.0/PDAO_WebApp.dll
bin/Debug/net8.0/PDAO_WebApp.exe
